<h1 class="text-3xl font-bold">Cập nhật truyện tranh</h1>
<form class="mt-5" [formGroup]="editForm" (ngSubmit)="submitForm()" >
    <div>
        <label >Tên truyện</label>
        <input class="border" type="text" formControlName="title" placeholder="nhập tên truyện">
         @if (title?.invalid && title?.touched) {
            <p class="text-red-500">
                @if (title?.errors?.["required"]) {
                    Tên truyện là bắt buộc
                }
                @if (title?.errors?.['minlength']) {
                    Tên truyện tối thiểu 6 kí tự
                }
            </p>
        }
    </div>
    <div>
        <label >Tác giả</label>
        <input class="border" type="text" formControlName="author" placeholder="nhập tên tác giả">
        @if (author?.invalid && author?.touched) {
            <p class="text-red-500">
                @if (author?.errors?.["required"]) {
                    Tác giả là bắt buộc
                }
                @if (author?.errors?.['minlength']) {
                    Tác giả tối thiểu 6 kí tự
                }
            </p>
        }
    </div>
    <div>
        <label >Lượt xem</label>
        <input class="border" type="text" formControlName="views" placeholder="nhập lượt xem">
         @if (views?.invalid && views?.touched) {
            <p class="text-red-500">
                @if (views?.errors?.["required"]) {
                    Views là bắt buộc
                }
                @if (views?.errors?.['min']) {
                    Views tối thiểu là 0
                }
            </p>
        }
    </div>
    <div>
        <label >Hình ảnh</label>
        <input class="border" type="text" formControlName="image" placeholder="nhập đường dẫn">
    </div>
    <button class="mt-3 p-2" type="submit" [disabled]="editForm.invalid" >Cập nhật </button>
</form>

